/*--------------- Contacto --------------- */

/*----- Section 1 main contacto ----- */

.section1__div-contacto {
    background-image: url(../assets/img/img-fondo-contacto.png);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    .section1__div__h1-contacto {
        margin-top: 400px;
        font-size: 80px;
        color: #000;
        font-family: 'Playfair Display', serif;
    }
}

.acordion-servicio {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

    .acordion-servicio-2 {
        width: 1058px;
        padding: 0;

        .accordion-item {
            background-color: #f0f3ff;

            .parrafos__acordion{
                margin: 10px 0 10px 0;
            }

            .accordion-button {
                background-color: #C3C9DD;
            }

            .boton__div__acordion {
                display: flex;
                justify-content: flex-end;

                .boton__acordion {
                    margin-top: 25px;
                    padding: 5px 20px 5px 20px;
                    background-color: #627EDC;
                    border-color: #627EDC;
                    border-radius: 5px;
                }
            }
        }
    }
}



@media screen and (max-width: 780px) {
    form {

        .contenedor-contacto {
            margin: 10px;

            .contenedor-contacto-2 {
                width: 100%;

                .section2__form__div {
                    flex-direction: column;

                    .section2__form__div__div {
                        grid-template-areas: "h3"
                            "nombre"
                            "tel"
                            "mail"
                            "tipo"
                            "cantidad"
                            "fecha"
                            "comentario"
                            "comentario"
                            "boton";
                        width: 100%;
                        height: 100%;
                        padding-left: 0px;
                        padding-right: 0px;
                    }

                    /*----- Section 2 -- segunda parte de form  main contacto ----- */

                    .section2__form__div-informacion {
                        width: 100%;
                        height: 500px;
                    }
                }
            }
        }
    }
}