/*--------------- Sobre Nosotros --------------- */

/*----- Section 1 main Nosotros ----- */
.section1__div-nosotros {
    background-image: url(../assets/img/fondo-section1.jpg);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    .section1__div__h1-nosotros {
        margin-top: 400px;
        font-size: 80px;
        color: #fff;
        font-family: 'Playfair Display', serif;

    }
}

/*----- Section 2 main Nosotros ----- */

.section2__div-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;

    .section2__div__div-nosotros {
        display: flex;
        flex-direction: column;
        width: 900px;

        .section2__div__div__h2-nosotros {
            font-size: $font-size-h2;
            margin-bottom: 25px;
            color: $color-h;
        }

        .section2__div__div__p-nosotros {
            font-family: 'Raleway', sans-serif;
            font-weight: bold;
        }

        .section2__div__div__hr-nosotros {
            width: 45px;
            height: 2px;
            margin: 20px 0 20px 0;
            clear: both;
            float: left;
            background-color: #ab9343;
        }

        .section2__div__div__buttom-nosotros {
            color: #3e3b44;
            border: solid 3px #3e3b44;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 15px 0 20px 0;
            width: 261px;
            height: auto;
            list-style: none;
            text-decoration: none;

            .section2__div__div__buttom__p-nosotros {
                margin: 0;
                padding: 15px 26px 15px 26px;
                font-size: 19px;
                font-weight: 600;
            }
        }
    }
}

.section2__div__div__buttom-nosotros:hover {
    background-color: #3e3b44;
}

.section2__div__div__buttom__p-nosotros:hover {
    color: #fff;
}

// ----- |Media cuery de sobre nosotros| -----

@media screen and (max-width: 780px) {
    .section2__div-nosotros {
        padding: 15px;
    }
}