/*--------------- footer --------------- */
footer {
	display: flex;
	background-color: #202124;
	flex-direction: column;
	width: 100%;

	.contenedor-footer {
		display: flex;
		justify-content: center;
		margin-top: 50px;
		margin-bottom: 20px;
		width: 100%;

		.contenedor-footer-2 {
			width: 890px;

			.footer__div {
				display: flex;
				justify-content: center;

				.footer__div__div {
					display: flex;
					width: 100%;
					justify-content: space-between;

					/*----- texto de la pregunta ¿por que? - footer ----- */
					.footer__div__div__div {
						width: 500px;

						.footer__div__div__div__h4 {
							font-family: 'Mulish', sans-serif;
							font-size: 16px;
							letter-spacing: 2px;
							text-transform: uppercase;
							margin-bottom: 15px;
							color: #fff;
						}

						.footer__div__div__div__p {
							font-family: 'Alegreya Sans', sans-serif;
							text-align: justify;
							font-size: 18.5px;
							line-height: 25px;
							color: #737373;
						}
					}

					/*----- Enaleces rapidos - footer ----- */
					.footer__div__div__div-2__h5 {
						font-family: 'Mulish', sans-serif;
						font-size: 16px;
						letter-spacing: 2px;
						text-transform: uppercase;
						margin-bottom: 15px;
						color: #fff;

						.footer__div__div-2__ul__a {
							font-family: 'Alegreya Sans', sans-serif;
							font-size: 18.5px;
							color: #737373;
						}
					}
				}
			}

			.footer__hr {
				width: 100%;
				border-top-color: #bbb;
				opacity: 0.5;
			}

			.footer__div__div-3 {
				display: flex;
				justify-content: flex-start;
				width: 100%;

				.footer__div__div-2__p {
					@include footer-p;
				}

				.footer__div__div-2__p2 {
					@include footer-p;
				}

				.footer__div__p__a {
					font-family: Arial, sans-serif;
					color: #737373;
				}
			}
		}
	}
}



/*--------------- responsive - footer --------------- */

@media screen and (max-width: 780px) {
	/*--------------- footer --------------- */

	footer {
		.contenedor-footer {
			padding-left: 25px;
			padding-right: 25px;

			.contenedor-footer-2 {
				display: flex;
				flex-direction: column;

				.footer__div {

					.footer__div__div {
						display: flex;
						flex-direction: column;
						justify-content: space-between;

						/*----- texto de la pregunta ¿por que? - footer ----- */
						.footer__div__div__div {
							width: 100%;
						}

						/*----- Enaleces rapidos - footer ----- */

						.footer__div__div__div-2 {
							width: 100%;
						}
					}
				}
			}
		}
	}
}