form {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 150px;
    margin-bottom: 50px;

    .contenedor-contacto {
        display: flex;
        width: 100%;
        justify-content: center;


        .contenedor-contacto-2 {
            display: flex;
            flex-direction: column;

            .section2__form__div__div__h2 {
                font-family: 'Lato', sans-serif;
                color: $color-h;
                font-weight: 600;
                letter-spacing: 5px;
                margin-bottom: 35px;
            }

            .section2__form__div {
                display: flex;
                width: 100%;
                height: 100%;

                .section2__form__div__div {
                    display: grid;
                    grid-template-areas:
                        "h3 h3"
                        "nombre tel"
                        "mail tipo"
                        "cantidad fecha"
                        "comentario comentario"
                        "boton boton";
                    background-color: #DCDFEA;
                    width: 758px;
                    height: 570px;
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-bottom: 20px;
                    border-radius: 4px 0 0 4px;

                    .form__h3 {
                        font-family: 'Lato', sans-serif;
                        font-weight: 600;
                        position: relative;
                        color: #485e74;
                        top: 20px;
                        grid-area: h3;
                        margin-left: 10px;
                        font-size: 20px;
                    }

                    #nombre-grid {
                        grid-area: nombre;
                    }

                    #tel-grid {
                        grid-area: tel;
                    }

                    #mail-grid {
                        grid-area: mail;
                    }

                    #tipo-grid {
                        grid-area: tipo;
                    }

                    #cantidad-grid {
                        grid-area: cantidad;
                    }

                    #fecha-grid {
                        grid-area: fecha;
                    }

                    #comentarios-grid {
                        grid-area: comentario;
                    }

                    .form__texto {
                        margin-left: 10px;
                        margin-right: 10px;
                        margin-top: 18px;
                    }

                    .form-boton {
                        grid-area: boton;
                    }

                    .section2__form__div__p {
                        color: #485e74;
                    }

                    .section1__form__div__div__imput {
                        width: 100%;
                        padding: 9px;
                        border: solid 1px #627EDC;
                        border-radius: 4px;
                    }

                    .section1__form__div__div__textaerea {
                        width: 100%;
                        height: 100px;
                        padding: 6px;
                        border: solid 1px #627EDC;
                        resize: none;
                        border-radius: 4px;
                    }

                    .section1__form__div__div__imput-boton {
                        width: 100%;
                        padding: 7px;
                        margin-top: 10px;
                        background-color: #627EDC;
                    }
                }

                .section2__form__div-informacion {
                    display: flex;
                    justify-content: flex-start;
                    width: 300px;
                    background-color: #C3C9DD;
                    border-radius: 0 4px 4px 0;



                    .section2__form__div__div-informacion {
                        display: flex;
                        flex-direction: column;

                        .section2__form__div__div__h4-informacion {
                            font-family: 'Lato', sans-serif;
                            font-weight: 600;
                            font-size: 25px;
                            color: #485e74;
                            margin-left: 20px;
                            margin-top: 10px;
                        }

                        .section2__form__div__div__div-datos-de-contacto {
                            display: flex;
                            flex-direction: column;
                            width: 100%;

                            .section2__form__div__div__h5-datos-de-contacto {
                                font-family: 'Lato', sans-serif;
                                font-weight: 600;
                                font-size: 20px;
                                color: #485e74;
                                margin-left: 10px;
                                margin-top: 10px;
                            } 

                            .section2__form__div__div__div__div-datos-de-contacto {
                                display: flex;
                                margin-left: 10px;
                                margin-top: 10px;
                                width: 100%;

                                .form__datos-de-contcto__icon {
                                    width: 20px;
                                    height: 20px;
                                }

                                .section2__form__div__div__div__div__p-datos-de-contacto{
                                    
                                    color: #485e74;
                                    margin-left: 5px;
                                }
                            }
                        }

                        .section2__form__div__div__div__div-redes{
                            display: flex;
                            flex-direction: column;
                            

                            .section2__form__div__div__div__div__h6-redes{
                                font-family: 'Lato', sans-serif;
                                font-weight: 600;
                                font-size: 20px;
                                color: #485e74;
                                margin-left: 10px;
                                margin-top: 10px;
                            }


                            .section2__form__div__div__div__div__div-redes{
                                display: flex;
                                margin-top: 5px;

                                .form__redes__icon{
                                    width: 40px;
                                    height: 40px;
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}